.testimonial {
	padding: 105px 0;
	@media(max-width: $break-xmd) {
		padding: 50px 0;
	}
	.page-center {
		max-width: 1100px;
	}
	h2 {
		color: $color-brown;
		&:first-child {
			margin-bottom: 60px;
			@media(max-width: $break-md) {
				margin-bottom: 30px;
			}
		}
		&:last-child {
			margin-bottom: 0;
			font-size: 26px;
		}
	}
	.slick-prev {
		z-index: 99;
		@media(max-width: $break-xmd) {
			left: 0;
		}
	}
	.slick-next {
		z-index: 99;
		@media(max-width: $break-xmd) {
			right: 0;
		}
	}
	.slick-prev:before,
	.slick-next:before {
		color: $color-brown;
		font-family: 'fontAwesome';
		font-size: 50px;
		opacity: 1;
		@include both-center();
	}
	.slick-prev:before {
		content: "\f104";
	}
	.slick-next:before {
		content: "\f105";
	}
	.slick-dots {
		li {
			margin: 0 10px;
		}
		li , button {
			width: 15px;
			height: 15px;
		}
		button {
			border: 1px solid $color-brown;
			border-radius: 50%;
			&::before {
				display: none;
			}			
		}
		.slick-active {
			button {
				background-color: $color-brown;
			}
		}
	}
	.testimonial__cell {
		max-width: 880px;
		margin: 0 auto;
		@media(max-width: $break-md) {
			@include flex-direction(column-reverse);
		}
		& > div {
			width: calc(100% / 2);
			padding: 0 0 90px;
			@media(max-width: $break-sm) {
				width: 100%;
				padding: 0;
			}
		}
		.testimonial__left {
			@media(max-width: $break-md) {
				margin: 30px 0;
				text-align: center;
			}
		}
		.testimonial__right {
			img {
				margin: 0 auto;
				@media(max-width: $break-md) {
					max-width: 300px;
					width: 100%;
				}
			}
		}
	}
}